/* .App {
  text-align: center;
} */

li {
  display: inline;
  border: 0.25px solid #3b24ac;
  padding: 3px 7px;
}

li > a {
  text-decoration: none;
}

table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  border: 1px solid;
  border-width: 0 0 1px 1px;
  display: table;
  empty-cells: show;
  list-style-type: none;
  margin: 5px 0 15px;
  overflow-x: visible;
  overflow-y: visible;
  text-align: left;
  width: 518px;
  word-break: normal;
  zoom: 1;
}

tr {
  display: table-row;
  border-collapse: collapse;
  vertical-align: middle;
}

td {
  background-color: white;
  border: 1px solid;
  border-width: 1px 1px 0 0;
  display: table-cell;
  empty-cells: show;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding: 5px;
  overflow-x: visible;
  overflow-y: visible;
  text-align: left;
  vertical-align: top;
  zoom: 1;
}