:root {
  --theme-color: #3b75cd;
}
.App {
  /* text-align: center; */
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  width: 600px;
  line-height: 1em;
}

ul {
  float: left;
  margin-top: 5px;
}

li {
  display: inline;
  padding: 0px 5px;
  line-height: 26px;
}

li.active {
  background-color: #11247D;
}

li > a {
  text-decoration: none;
  color: white;
}

li > a:hover {
  text-decoration: underline;
}

button[type=reset] {
  float: right;
  margin-top: 6px;
  margin-right: 20px;
  background-color: #c3d5f0;
  border: none;
  height: 24px;
}

.resultsList {
  border: 1px solid #ddd;
  border-top: 0;
  display: block;
  width: 600px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.resultsList > p:first-child {
  margin-left: -15px;
}

.resultsList > div {
  display: inline-block;
  margin: 10px;
}

/* .resultsList > div:not(:last-child) {
  border-bottom: 1px solid #c3d5f0;
} */

.footer {
  /* background-color: #0851ab; */
  background-color: var(--theme-color);
  color: white;
  height: 40px;
  line-height: 26px;
  padding: 0 15px 0 10px;
  width: 607px;
}

table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  border: 1px solid;
  border-width: 0 0 1px 1px;
  display: table;
  empty-cells: show;
  list-style-type: none;
  margin: 15px 0 15px;
  overflow-x: visible;
  overflow-y: visible;
  text-align: left;
  width: 518px;
  word-break: normal;
  zoom: 1;
}

tr {
  display: table-row;
  border-collapse: collapse;
  vertical-align: middle;
}

td {
  background-color: white;
  border: 1px solid;
  border-width: 1px 1px 0 0;
  display: table-cell;
  empty-cells: show;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding: 5px;
  overflow-x: visible;
  overflow-y: visible;
  text-align: left;
  vertical-align: top;
  zoom: 1;
}

form {
  display: inline-block;
  text-align: center;
  background-color: var(--theme-color);
  color: white;
  /* display: inline-block; */
  margin: 0;
  padding: 10px 15px;
  width: 602px;
  text-align: center;
}

form > input {
  display: inline-block;
  width: 33%;
  height: 36px;
  line-height: 24px;
  padding-left: 10px;
  font-size: 14px;
  border: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

button[type=submit] {
  display: inline-block;
  /* margin: 0 auto; */
  background-color: #c3d5f0;
  border: none;
  height: 38px;
  width: 38px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.Dropdown {
  display: inline-block;
  /* margin: 0 auto; */
  border: none;
  width: 33%;
  height: 26px;
  border-radius: 0;
  color: black;
}

.Dropdown > div {
  border: none;
  border-radius: 0;
  border-left: 1px dotted var(--theme-color);
}

/* .Dropdown-root__indicator {
  border: none;
} */

/* .Dropdown-root {
  display: inline-block;
  height: 26px;
  background-color: white;
  margin: 0 0 0 2px;
  border-left: 1px solid #c3d5f0;
  border: none;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: black;
  width: 100px;
}  */

/* .Dropdown-control, .Dropdown-arrow-wrapper {
  display: inline;
  background-color: white;
} */

/* .Dropdown-placeholder {
  display: inline-block;
  background-color: white;
  padding: 7px;
} */

/* .Dropdown-menu {
  background-color: white;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: black;
} */

/* .Dropdown-option {
  margin: 2px;
}  */

p {
  /* color: white; */
  display: block;
  font-size: 16px;
  height: 19px;
  margin: 0 0 8px 0;
  width: 590px;
}

p strong {
  color: white; 
}